* {
  box-sizing: border-box;
  margin: 1vw;
  text-align: center;
}

body {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, #ebe991, #8259e2, #85d0eb, #23d5ab);
  background-size: 400% 400%;
  height: 100vw;
  width: 100vw;
}

@keyframes gradient {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.btn {
  background-color: #613fb194;
  border-radius: 6px;
  box-shadow: 3px 3px rgb(97, 95, 95);
  color: rgb(222, 224, 247);
  font-family: montserrat , sans-serif;
  margin: 20px;
  padding: 24px;
  text-transform: uppercase;
  width: 220px;
}

form {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-items: center;
  position: relative;
}

input {
  border: 2px solid  #d9d9d9;
  border-radius: 1rem;
  color: #495055;
  font-size: 1.6rem;
  font-weight: 500;
  outline: none;
  padding: 15px;
  width: 350px;
}

form button {
  background-color: #613fb194;
  border-radius: 6px;
  box-shadow: 3px 3px rgb(97, 95, 95);
  color: rgb(222, 224, 247);
  font-family: montserrat , sans-serif;
  margin: 20px;
  padding: 24px;
  text-transform: uppercase;
  width: 220px;
}
